:root {
  --primary-color: #c6e6ff;
  --secondary-color: #fedada;
  --accent-color: #d8c0fc;
  --header-font: "Oswald", sans-serif;
  --content-font: "Poppins", sans-serif;
}

body {
  font-family: var(--content-font);
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
}

@media (max-width: 600px) {
  .homepage-hero {
    padding: 25px 15px;
  }

  .homepage-hero h1 {
    font-size: 50px;
  }

  .homepage-hero h2 {
    font-size: 25px;
  }
}

/* Navigation Bar Section */
nav {
  background-color: transparent;
  padding: 20px 0;
}

nav a {
  color: #000;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  display: inline;
  margin-left: 15px;
  line-height: 45px;
}

nav h2 {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}

nav li.active a,
nav a:hover {
  background-color: var(--secondary-color);
}

/* Hero Section */

.homepage-hero h1 {
  font-size: 75px;
  line-height: normal;
}

.homepage-hero h1 span {
  background-color: var(--accent-color);
}

.homepage-hero {
  text-align: center;
  padding: 100px 25px;
}

.homepage-hero h2 {
  font-family: var(--content-font);
  margin: 0;
  font-size: 35px;
  font-weight: normal;
}

/*Homepage Content */

img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.recent-projects {
  text-align: center;
  padding: 20px 15px;
  background-color: #ffff;
}

.recent-projects h2 {
  margin: 20px;
  font-size: 45px;
}

.recent-projects h2 span {
  background-color: var(--accent-color);
}

.homepage-app {
  text-align: center;
  padding: 25px;
  background-color: var(--secondary-color);
  border-radius: 12px;
  margin: 10px;
}

.homepage-app p {
  margin-top: 10px;
}

.project-button {
  text-align: center;
}

.btn {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: all 200ms ease-in-out;
  font-size: 18px;
  margin: 15px;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid var(--accent-color);
}

/* Footer Section */

.social-links {
  text-align: center;
  padding: 15px;
}

.social-links a {
  color: #000;
  background-color: var(--secondary-color);
  margin: 20px;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.social-links a:hover {
  color: #ffff;
  background-color: var(--accent-color);
}

.footnote p {
  text-align: center;
  margin: 0px;
}

.footnote p a {
  color: #000;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.footnote p a:hover {
  color: var(--accent-color);
}

/* About Page */
.content-section {
  text-align: center;
  padding: 50px 25px;
}

.content-section h1 {
  font-size: 50px;
}

.content-section p {
  font-size: 18px;
}

.skills-section {
  text-align: center;
  padding: 20px 15px;
}

.skills-section h3 {
  font-size: 35px;
}

.skills-section ul {
  list-style: none;
  margin: 5px;
  padding: 0px;
  display: inline-block;
}

.skills-section li {
  margin: 15px;
  font-size: 20px;
}

/* Projects Page */
.projects-content {
  text-align: center;
  padding: 25px;
  background-color: var(--accent-color);
  border-radius: 12px;
  margin: 10px;
}

/* Contact Page */
.contact-section {
  text-align: center;
  background-color: #ffff;
  padding: 25px 15px;
}

.contact-section a {
  text-decoration: none;
  color: var(--accent-color);
  transition: all 200ms ease-in-out;
}

.contact-section a:hover {
  color: #000;
}

.contact-section h4 {
  margin: 10px;
}
