:root {
  --primary-color: #c8d9eb;
  --secondary-color: #f0d9da;
  --tertiary-color: #ecf2f9;
  --header-font: "Oswald", sans-serif;
  --content-font: "Poppins", sans-serif;
  --primary-opacity: 0.8;
  --primary-transition: all 200ms ease-in-out;
}

body {
  font-family: var(--content-font);
  background-color: var(--primary-color);
  cursor: default;
}

h1,
h2,
h3 {
  font-family: var(--header-font);
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
}

.animation {
  animation: transitionIn 700ms ease-in-out;
}

/* Navigation Bar Section */
nav {
  background-color: transparent;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  transition: var(--primary-transition);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  display: inline;
  margin-left: 15px;
  line-height: 45px;
}

nav h2 {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}

nav li.active a,
nav a:hover {
  background-color: var(--secondary-color);
}

/* Hero Section*/

.homepage-hero h1 {
  font-size: 75px;
  line-height: normal;
}

.homepage-hero {
  text-align: center;
  padding: 60px 25px;
}

.homepage-hero h2 {
  font-family: var(--content-font);
  margin: 0;
  font-size: 35px;
  font-weight: normal;
}

/*Homepage Content */

img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.recent-projects {
  text-align: center;
  padding: 20px 15px;
  background-color: var(--tertiary-color);
}

.recent-projects h2 {
  margin: 20px;
  font-size: 45px;
}

.projects-content {
  text-align: center;
  padding: 15px 25px 8px;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 10px;
}

.container .projects-content {
  transition: var(--primary-transition);
}

.container:hover .projects-content > * {
  opacity: 0.5;
}

.container:hover .projects-content:hover > * {
  opacity: 1;
}

.projects-content p {
  margin-top: 10px;
  opacity: var(--primary-opacity);
}

.project-button {
  text-align: center;
}

.btn {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: var(--primary-transition);
  font-size: 18px;
  margin: 15px;
}

.btn:hover {
  border: 2px solid var(--secondary-color);
  color: #000;
}

/* For additional pages */
.content-section {
  text-align: center;
  padding: 50px 25px;
}

.content-section h1 {
  font-size: 50px;
}

/* About Page */
.content-section .about-heading {
  padding-bottom: 25px;
}

.content-section p {
  font-size: 18px;
  opacity: var(--primary-opacity);
  text-align: justify;
}

.content-section p:first-child {
  padding-top: 15px;
}

.skills-section {
  text-align: center;
  padding: 20px 15px;
  background-color: var(--tertiary-color);
}

.skills-section h3 {
  font-size: 35px;
}

.skills-section ul {
  list-style: none;
  margin: 5px;
  padding: 0px;
  display: inline-block;
}

.skills-section li {
  margin: 15px;
  font-size: 20px;
}

/* Projects Page */
.projects-section {
  background-color: var(--tertiary-color);
  padding: 25px;
}

/* Contact Page */
.contact-section {
  text-align: center;
  background-color: var(--tertiary-color);
  padding: 35px 15px;
  margin-bottom: 10px;
}

.contact-section a {
  text-decoration: none;
  color: #000;
  background-color: var(--secondary-color);
  transition: var(--primary-transition);
}

.contact-section a:hover {
  color: #000;
  background-color: var(--primary-color);
}

.contact-section h3 {
  margin: 20px;
}

/* Footer Section */
footer {
  margin-bottom: 15px;
}

.social-links {
  text-align: center;
  padding: 25px;
}

.social-links a {
  color: #000;
  background-color: var(--secondary-color);
  margin: 0 20px;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  text-decoration: none;
  transition: var(--primary-transition);
}

.social-links a:hover {
  color: #000;
  background-color: var(--tertiary-color);
}

.footnote p {
  text-align: center;
  margin: 0px;
}

.footnote p a {
  color: #000;
  background-color: var(--secondary-color);
  text-decoration: none;
  transition: var(--primary-transition);
}

.footnote p a:hover {
  color: #000;
  background-color: var(--tertiary-color);
}

/*Page transitions */
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

/*Responsiveness */
@media (max-width: 991px) {
  .content-section p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .homepage-hero {
    padding: 25px 15px;
  }

  .homepage-hero h1 {
    font-size: 50px;
  }

  .homepage-hero h2 {
    font-size: 25px;
  }
}

@media (max-width: 475px) {
  .homepage-hero {
    padding: 10px;
  }

  .homepage-hero h1 {
    font-size: 30px;
  }

  .homepage-hero h2 {
    font-size: 20px;
  }

  .recent-projects h2 {
    font-size: 20px;
  }

  .recent-projects h3 {
    font-size: 16px;
  }

  .projects-section h3 {
    font-size: 16px;
  }

  .projects-section p {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }

  .content-section {
    padding: 10px;
  }

  .content-section h1 {
    font-size: 30px;
  }

  .content-section h2 {
    font-size: 20px;
  }

  .skills-section h3 {
    font-size: 16px;
  }

  .skills-section li {
    font-size: 14px;
  }

  .contact-section h3 {
    font-size: 20px;
  }

  .contact-section a {
    font-size: 18px;
  }

  .footnote p {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  nav a h2 {
    font-size: 25px;
    line-height: 45px;
  }

  nav li a {
    font-size: 14px;
  }
}
